#class_avg {
  margin-top: 160px;
}

#graphic_left {
  left: 0px;
  height: 20px;
  border-width: 2px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right-width: 0;
  background: #fff;
  overflow: hidden;
  border-style: solid;
  border-color: #A5AFB5;
}
