p {
  margin: 0;
}
body {
  background-color:#FFD520;
}
#title {
  font-size:40px;
  color: #FFFFFF;
  margin-left:15px;
  padding-top:30px;
}
#description {
  font-size:14px;
  color:#FFFFFF;
  margin-left:15px;
  margin-top:10px;
}
#mainDiv {
  height: 350px;
  width: 280px;
  background-color: #FFD520;
}
#div1 {
  height: 200px;
  width: 250px;
  background-color: #E03A3E;
  margin-left: 15px;
  margin-top: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 4px;
}
#feedback_button {
  border: none;
  background-color: #E03A3E;
  margin-left: 15px;
  margin-top: 110px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
button:focus {
  outline:0;
}
